table {
    width: 100%;
    border-collapse: collapse;
}

/* Quick and clean design for table tr td */
table, th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

table {
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

td {
    color: #333;
    font-size: 14px;
}

table img {
    border-radius: 200px;
    height: 80px;
}

.cursor-pointer {
    cursor: pointer;
}