<form [formGroup]="registerForm" (ngSubmit)="register()" autocomplete="off">
    <h2>Sign up</h2>
    <hr>

    <div class="mb-3 d-flex justify-content-around">
        <label for="">Je suis :</label>
        <label for="pingouin" class="form-check-label">
            <input type="radio" class="form-check-label" value="pingouin" id="pingouin" formControlName="gender"> un Pingouin
        </label>
        <label for="autre" class="form-check-label">
            <input type="radio" class="form-check-label" value="other" id="autre" formControlName="gender"> Autre
        </label>
    </div>

    <div class="mb-3 d-flex justify-content-around" *ngIf="registerForm.value?.gender == 'other'">
        <label for="female" class="form-check-label">
            <input type="radio" class="form-check-label" value="female" id="female" formControlName="otherGender"> Une femme
        </label>
        <label for="male" class="form-check-label">
            <input type="radio" class="form-check-label" value="male" id="male" formControlName="otherGender"> Un homme
        </label>
    </div>
    
    <app-text-input
        [formControl]="$any(registerForm.controls['username'])"
        [label]="'Username'"
        [type]="'text'"
        [required]="true"
        [alert]="'Le nom d\'utilisateur est requis'"
    ></app-text-input>

    <app-text-input
    [formControl]="$any(registerForm.controls['knownAs'])"
    [label]="'Know As'"
    ></app-text-input>

    <app-date-picker
    [formControl]="$any(registerForm.controls['dateOfBirth'])"
    [label]="'Date of Birth'"
    ></app-date-picker>

    <app-text-input
    [formControl]="$any(registerForm.controls['city'])"
    [label]="'City'"
    ></app-text-input>

    <app-text-input
    [formControl]="$any(registerForm.controls['country'])"
    [label]="'Country'"
    ></app-text-input>

    <app-text-input
        [formControl]="$any(registerForm.controls['password'])"
        [label]="'Password'"
        [type]="'password'"
        [required]="true"
        [alert]="'Le mot de passe doit faire entre 4 et 8 caractères'"
    ></app-text-input>
    
    <app-text-input
        [formControl]="$any(registerForm.controls['confirmPassword'])"
        [label]="'Confirm Password'"
        [type]="'password'"
        [required]="true"
        [alert]="'La confirmation doit correspondre au mot de passe'"
    ></app-text-input>

    @if(validationErrors != null){

        <div class="alert alert-danger" *ngFor="let error of validationErrors">
            {{error}}
        </div>
    }

    <div>
        <button [disabled]="!registerForm.valid" type="submit">Register</button>
        <button (click)="cancel()">Cancel</button>
    </div>

</form>