<div class="row">

    <div class="text-center mt-3">
        <h2>{{memberService.paginatedResult()?.pagination?.totalItems}} résultats</h2>
    </div>

    <div class="container mt-3">
        <form #form="ngForm" class="d-flex mb-3" (ngSubmit)="loadMembers()">
            <div class="d-flex mx-2">
                <label class="col-form-label" for="">Age Minimum: </label>
                <input type="number" class="form-control ms-1" style="width: 70px;"
                name="minAge"
                [(ngModel)]="userParams.minAge"
                >
            </div>
            <div class="d-flex mx-2">
                <label class="col-form-label" for="">Age Maximum: </label>
                <input type="number" class="form-control ms-1" style="width: 70px;"
                name="maxAge"
                [(ngModel)]="userParams.maxAge"
                >
            </div>

            <div class="d-flex mx-2">
                <label class="col-form-label" for="">Filtrer par genre: </label>
                <select class="form-control ms-1" style="width: 130px;"
                name="gender"
                [(ngModel)]="userParams.gender"
                >
                    @for (gender of genderFilterList; track gender.value){
                        <option [value]="gender.value">{{gender.display}}</option>
                    }
                </select>
            </div>
            <button class="btn btn-primary ms-1" type="submit">Filtrer</button>
            <button (click)="resetFilters()" class="btn btn-primary ms-1" type="button">Reset</button>
        </form>
    </div>

        @for(member of memberService.paginatedResult()?.result; track member.id) {
            <div class="col-2">
                <app-member-card [member]="member"></app-member-card>
            </div>
        }

</div>

@if(memberService.paginatedResult()?.pagination) {
    <pagination 
    [boundaryLinks]="true"
    [totalItems]="memberService.paginatedResult()?.pagination!.totalItems" 
    [itemsPerPage]="memberService.paginatedResult()?.pagination!.itemsPerPage" 
    (pageChanged)="pageChanged($event)"
    [maxSize]="5"
    >
    </pagination>
}