<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container">
      <a class="navbar-brand" routerLink="/" routerLinkActive="active">Pingeur</a>

        @if(accountService.currentUser()) {
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a routerLink="/members" routerLinkActive="active" class="nav-link">Rencontres</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/list" routerLinkActive="active" class="nav-link">Liste</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/messages" routerLinkActive="active" class="nav-link">Messages</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="logout()">Deconnexion</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/errors" routerLinkActive="active" class="nav-link">Error</a>
                </li>

            </ul>

            <div dropdown class="dropdown">
                <a dropdownToggle class="dropdown-toggle text-light">
                    Bonjour {{accountService.currentUser()?.username | titlecase}}
                </a>
                <div *dropdownMenu class="dropdown-menu">
                    <a class="dropdown-item">Profil</a>
                    <a class="dropdown-item">Modifier mon Profil</a>
                    <a class="dropdown-item" (click)="logout()">Deconnexion</a>
                </div>
            </div>
        } @else {
            <form class="d-flex" #loginForm="ngForm" (ngSubmit)="login()">

                <input 
                name="username" 
                [(ngModel)]="model.username" 
                class="form-control me-2" 
                placeholder="Username">
      
                <input 
                name="password" 
                [(ngModel)]="model.password"
                class="form-control me-2" 
                placeholder="Password" 
                type="password">
      
                <button class="btn btn-outline-success" type="submit">Connexion</button>
              </form>
        }
       
      
    </div>
  </nav>