.chat {
    list-style: none;
}
li {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #f0f0f0;
}
span {
    display: flex;
    flex-direction: column;
    border-right: 1px rgb(112, 112, 112) solid;
    width: fit-content;
    padding-right: 8px;
    margin-right: 8px ;
}
img {
    width: 50px;
    border-radius: 50px;
}